<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="LogFilePath" value="C:\softmed2\DatabaseBackups\backup_log.txt" />
		<add key="BackupDirectory" value="C:\softmed2\DatabaseBackups\" />
		<add key="SqlInstanceName" value="MSSQL$SQLEXPRESS" />
		<add key="SqlServerName" value=".\SQLEXPRESS" />
		<add key="Mode" value="Prod" />
	</appSettings>
</configuration>